$c-red: #E10C1E;
$c-font: #FCFBFE;
$c-black: #1D161A;
$c-like: #FF5449;
$c-discount: #FF5449;
$c-free: orange;

$html-size: 62.5%!important;
$s-font: 2.4rem;
$s-sub: 1.4rem;
$s-price: 3.6rem;
$s-icon: 2.4rem;